/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h2{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
    color: #2c3e50;
}

h2:after{
    content: "";
    height: 5px;
    width: 50px;
    background-color: #34495e;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}


footer{
    margin-top: 50px;
    height: 400px;
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #e1e1e1;
    opacity: 0.2;
}

section{
    margin: 0;
    padding: 0;
}

.nav{
    margin: 0 auto;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.nav-pills > li > a{
    color: white;
    
}

.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a{
    background-color: #0e85d5;  
}

.nav-pills > li > a:focus{
    background-color: transparent;      
}

.nav-icon{
    margin-right: 10px;
}

.navbar{
    background-image: url('../img/navbar.png');
    background-attachment: fixed;
    min-height: 100px;
    box-shadow: none;
    border: none;
}


.navbar-brand > img {
    height: 100px;
    margin-top: -14px;
}

.detail{
    padding-left: 20px;
}

.navbar-collapse.collapse {
    border: none;

}


#slider{
    margin-top: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+100,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    padding: 0;
}

#slider img {
    background-attachment: fixed;
    width: auto;
    height: auto;
}

#what-we-do{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.customer-sat > img{
    width: 25%;
    padding-bottom: 10px;
}

#what-we-can-offer{
    height: 400px;
    background-image: url('../img/offer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/* ==========================================================================
   services classes
   ========================================================================== */

.center {
    bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
}

.text-3D {
    color: white;
}


.container1 {
    background-color: #3498db;
}

.zigzag {
  position: relative;
  width: 100%;
}

.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.container2 {
    background-color: #e74c3c;
}

.container2:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #e74c3c 33.333%, #e74c3c 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #e74c3c 33.333%, #e74c3c 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}

.container3 {
    background-color: #1abc9c;
}

.container3:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #1abc9c 33.333%, #1abc9c 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #1abc9c 33.333%, #1abc9c 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}

.container4 {
    background-color: #9b59b6;
    padding-bottom: 10px;
    border-bottom: 15px solid #8e44ad;
}

.container4:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #9b59b6 33.333%, #9b59b6 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #9b59b6 33.333%, #9b59b6 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}

.features-container {
    width: 90%;
}

.feature-block {
    width: 32.9%;
    padding: 1%;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

.feature-text{
    font-size: 15px;
    color: white;
}

.feature-block:last-child {
    border: none;
}

.feature-level {
    margin: auto;
}

.detail > p, .feature-text > h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #ecf0f1;
}

.fa-circle {
    color: #ecf0f1;
}

.fa-inverse-1 {
    color: #3498db;
}

.fa-inverse-2 {
    color: #e74c3c;
}

.fa-inverse-3 {
    color: #1abc9c;
}

h3.and-more{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
}

.image > img{
    width:100%;
    height: 350px;
    margin: 0 auto;
}

.detail{
    padding: 10px;
}

.detail h3{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

/* ==========================================================================
   Animation Queries
   ========================================================================== */



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 1199px) {
    .container {
      margin: 0 auto;
    }

    .features-container{
        zoom: 0.7;
        -moz-transform: scale(0.7);
    }

    .image > img {
        height: 310px;
    }

}

@media (max-width: 991px) {
    .container {
      margin: 0 auto;
    }

    .features-container{
        zoom: 0.6;
        -moz-transform: scale(0.6);
    }

    .detail h3 {
        font-size: 30px;
    }

    .detail > p {
        font-size: 15px;
    }

}
    
@media (max-width: 767px) {
    h2{
        text-transform: lowercase;
    }

    .image > img {
        height: 260px;
    }

    .detail h3 {
        font-size: 25px;
    }

    .detail > p {
        font-size: 13px;
    }


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}